.gameFilter {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-sm);
  background-color: var(--bg-alt);
  border-radius: var(--border-radius);
}

.select {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: inherit;
  padding-block: 5px;
  padding-inline: var(--space-sm);
  font-weight: bold;
  height: fit-content;
}

.option {
  background-color: var(--bg-alt);
  color: inherit;
  font-weight: bold;
}