@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('../shared/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('../shared/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
