@use "fonts";
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main), sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}